SUPABASE_DATABASE_URL=https://ytlvyjcjxuakjyqjupao.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl0bHZ5amNqeHVha2p5cWp1cGFvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDY1NzY2NDAsImV4cCI6MjA2MjE1MjY0MH0.P84SzhUJiQXMntX8Y2M9-OyIgmioWHPO7FHwJmJxadc